<!DOCTYPE html>
<html>
  <head>
    <title>Slick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path("https://s3.us-west-2.amazonaws.com/slick-apps/slack-icon.png?response-content-disposition=inline&X-Amz-Security-Token=AgoJb3JpZ2luX2VjEHcaCXVzLXdlc3QtMSJHMEUCIBRMeJOc3rZLC44ipErAy8Za4X8%2FqWM7IsNif7RFeqF9AiEA5%2BvfrtlZQRuKaKX3H03yq5XAUcdSzG%2BSAC9oooMKXAgq5AMI4P%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw1MzkwNDI1NDQxNTYiDP0ih4EUFMoooD3klCq4AyhjrzXUdZoQk4S6qam2VCSNHf6UV4ZbOOV7J%2Bc0TE7hVgPtVr0kWZX5ZESt6Nvz72m5Ei3o%2Be3FtJGs%2BuwPt4rkjxtPuvtggqUMPyyfnfVGQ5qlvQ8FrJcW89J9EZp2GwtdAoT17icJVw92IQvknsLtT%2BWNYxKKTjUh1YNhLNbID9ir0I9GwwlGHZFxfx%2FOJHbl%2FniSaiM%2BSvNRRNmkuNvGZ%2B7EBIVwrm4pqYDiF47%2FuA6i7Lf03dvbcSYfvzoZC%2F0Ef3wadleh%2F3NW6kxsKMjVVy42TaH7B7z1mLV645IivlUXq9caduz%2FSzzaEaYpsRTz4CSeeKGRJx0OGBeTGAwAyhdtzaspWNZE0skeAYTz4VR8Mvk5q0A2dEMoZocG3x8W1o2%2FFpT3%2F%2FGW0jRji0s2Y90TvQ38d4ktAvoR9%2BZwdWIZBYdmYUAH31WbCxZVQwoyjNJlnmvqu%2F5oVU9zJJGs%2BanNm%2BH8WKz6z2QEHXtvIaT%2BIy%2F1z8puDotoY2jk7Y4%2FAuOIfmlqHlrd5ynDwfxVUP3rqFtJXpC5HF7OKmg1AwEulPwdtRGvJpb%2FA5kkc0LbtzAeV2qsMLOp3ukFOrQBQCtw0D%2Bo8PEP%2F9ViOQESeoASXVqJYgYVJtBh%2FSKb7DqD9nD0MwSZebPYfhPBFh%2FCUGUNMG05EXXSDQ0us2KrKRQjklpZLafBNZvDG8c39SiYTmFbt9TKqURcEIcdPG%2BLKxs4giBveqODUOpUdXd01wm51XsTmjsxITXjZGFwjZUT%2F%2Fd9fe%2F6FGg3yaUFiLDzvkGiYqwx%2Fa2tukM8%2BbTF6jBoeNzcWqLx%2BH8Dd3NgvPKSZdls&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190723T231717Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAX3ALQPIOCIXALOCW%2F20190723%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fd8e69e58c4a50b47d593e301da9e5de7bf87916330992140138e9419f7d31b3")%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
